/*
    ColorBox Core Style
    The following rules are the styles that are consistant between themes.
    Avoid changing this area to maintain compatability with future versions of ColorBox.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative; overflow:hidden;}
#cboxLoadedContent{overflow:auto;}
#cboxLoadedContent iframe{display:block; width:100%; height:100%; border:0;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}

/* 
    Example user style
    The following rules are ordered and tabbed in a way that represents the
    order/nesting of the generated HTML, so that the structure easier to understand.
*/
#cboxOverlay{background:#ffffff; opacity: 0.9}
#colorbox{}

    
    #cboxContent{background:#fff; border: 3px solid #E6E6E6;}
        #cboxLoadedContent{margin-bottom:32px; border-bottom: 3px solid #E6E6E6;}
        #cboxTitle{position:absolute; bottom:6px; left:0; text-align:center; width:100%; color:#00429d; font-size: 1.3em; line-height: 1.3em;}
        
        #cboxCurrent{position:absolute; bottom:9px; left:58px; color:#949494;}
        #cboxSlideshow{position:absolute; bottom:9px; right:30px; color:#0092ef;}
        #cboxPrevious{position:absolute; bottom:3px; left:0px; background:url(../img/controls.png) -75px 0px no-repeat; width:25px; height:25px; text-indent:-9999px;}
        #cboxPrevious.hover{background-position:-75px -25px;}
        #cboxNext{position:absolute; bottom:3px; left:27px; background:url(../img/controls.png) -50px 0px no-repeat; width:25px; height:25px; text-indent:-9999px;}
        #cboxNext.hover{background-position:-50px -25px;}
        #cboxLoadingOverlay{background:url(../img/loading_background.png) center center no-repeat;}
        #cboxLoadingGraphic{background:url(../img/loading.gif) center center no-repeat;}
        #cboxClose{position:absolute; bottom:3px; right:0; background:url(../img/controls.png) -25px 0px no-repeat; width:25px; height:25px; text-indent:-9999px;}
        #cboxClose.hover{background-position:-25px -25px;}

