body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #333;
}
a {
    color: #0066ff;
    text-decoration: none;
}
a:hover, li.active a, dd.active a {
    color: #0099ff;
}