body {
    font-family: Verdana, sans-serif;
	font-size: 1em;
    color: #333;
}
a {
    color: #0066ff;
    text-decoration: none;
}
a:hover, li.active a, dd.active a {
    color: #0099ff;
}

h1, h2, h3, h4, h5 h6 {
	font-family: "Century Gothic", "Apple Gothic", Futura, "Twentieth Century", sans-serif;
}
h1, h2 {
	font-size: 2em;
    line-height: 1.4em;
	letter-spacing: -0.07em;
}
