detect_relations: true
            
User:
    columns:
        email: string(127)
        password: string(40)
        registration_date: timestamp
        registration_code: string(40)
        last_login_date: timestamp
        last_login_attempt_date: timestamp
        num_login_attempts: integer
        reset_request_date: timestamp
        reset_code: string(40)
        first_name: string(63)
        last_name: string(63)
        member_no: string(63)
        avatar: string(32)
        signature: string(255)
        
